In [1]:
import pandas as pd
import numpy as np

In [13]:
data= pd.read_csv("E:\sumit\DS\project\customersatisfaction.csv",nrows=20000)

In [14]:
data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [15]:
data.shape

(20000, 371)

In [17]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,20000.0,20061.961650,11581.411038,1.00,9987.50,20075.50,30168.500,40066.00
var3,20000.0,-1897.271300,43548.725456,-999999.00,2.00,2.00,2.000,235.00
var15,20000.0,33.211100,12.911738,5.00,23.00,27.00,40.000,102.00
imp_ent_var16_ult1,20000.0,92.301165,2051.311484,0.00,0.00,0.00,0.000,210000.00
imp_op_var39_comer_ult1,20000.0,74.055368,345.259590,0.00,0.00,0.00,0.000,12888.03
...,...,...,...,...,...,...,...,...
saldo_medio_var44_hace3,20000.0,2.386929,157.196356,0.00,0.00,0.00,0.000,18928.59
saldo_medio_var44_ult1,20000.0,101.280122,5841.191494,0.00,0.00,0.00,0.000,681462.90
saldo_medio_var44_ult3,20000.0,70.141481,3541.831812,0.00,0.00,0.00,0.000,374947.53
var38,20000.0,116937.530005,163085.798032,9486.36,67821.93,106821.24,119394.315,9792857.49
TARGET,20000.0,0.040650,0.197483,0.00,0.00,0.00,0.000,1.00

In [19]:
data.isnull().sum()

ID                         0
var3                       0
var15                      0
imp_ent_var16_ult1         0
imp_op_var39_comer_ult1    0
                          ..
saldo_medio_var44_hace3    0
saldo_medio_var44_ult1     0
saldo_medio_var44_ult3     0
var38                      0
TARGET                     0
Length: 371, dtype: int64

In [20]:
x=data.iloc[:,:-1]

In [22]:
x.shape

(20000, 370)

In [23]:
from sklearn.feature_selection import VarianceThreshold

In [25]:
var =VarianceThreshold(threshold=0)

In [26]:
var.fit(x)

VarianceThreshold(threshold=0)

In [29]:
var.get_support().sum()

306

In [32]:
x.columns[var.get_support()]

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2',
       'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1',
       'saldo_medio_var44_ult3', 'var38'],
      dtype='object', length=306)

In [35]:
constant_column=  [column for column in x.columns if column not in x.columns[var.get_support()]]

In [40]:
x.drop(constant_column,axis=1).shape

(20000, 306)